<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270436013421-75bogoag9jpaish6hip9qvd7rdrddiuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270436013421-75bogoag9jpaish6hip9qvd7rdrddiuk</string>
	<key>API_KEY</key>
	<string>AIzaSyDtoSaqA5rQTTX3oeFHyiENTC77c6rMqMI</string>
	<key>GCM_SENDER_ID</key>
	<string>270436013421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voyage</string>
	<key>PROJECT_ID</key>
	<string>voyage-16bd4</string>
	<key>STORAGE_BUCKET</key>
	<string>voyage-16bd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270436013421:ios:8cb5dd998c50ba6055b664</string>
	<key>DATABASE_URL</key>
	<string>https://voyage-16bd4-default-rtdb.firebaseio.com</string>
</dict>
</plist>